#post_tag_string,
#upload_tag_string {
    min-width: 100% !important;
}
#tags-container {
    max-width:  unset !important;
}

div.related-tags li.selected a {
	text-decoration: underline;
}
body[data-current-user-theme="dark"] { --preview-deleted-color: aliceblue; }
/*article[data-flags="deleted"] {
    border: aliceblue 4px dashed;
}*/

/* Restore related tags toggle at the bottom of the tag edit form */
#related-tags-container {
     display: unset !important;
}

.user-banned { text-decoration: line-through !important; }
.user[data-user-name="Provence"] { color: #f2b2ff !important; }

/* Bold usernames in comments and forum posts (revert commit ca98e21) */
div.author-name { font-weight: bold !important; }

.ai-tags-related-tags-column { display: block !important; }

.user-related-tags-columns > .recent-related-tags-column { display: none !important; }

.ui-menu-item[data-autocomplete-value^="is:"] a,
.ui-menu-item[data-autocomplete-value^="has:"] a, 
.ui-menu-item[data-autocomplete-value^="rating:"] a {
    color: #fff !important;
}

/* Color rainbow animation for builders
.user-builder { color: #e6c9ff !important; animation: hue 5s infinite linear; }
@keyframes hue {
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(360deg); }
}*/
